<footer class="footer mt-auto py-2 bg-dark text-center text-lg-start sticky-bottom" id="footer">
    <div class="text-center p-3 text-light">
        <span>© 2022 Copyright:
        <a class="text-light" href="https://tvtrackerweb.herokuapp.com/">tvtrackerweb.herokuapp.com</a>
        </span>
    </div>
</footer>