<footer class="bg-dark text-center text-lg-start footer mt-auto py-3">
  <div class="text-center p-3 text-light">
    © 2022 Copyright:
    <a class="text-light" href="https://tvtrackerweb.com/">tvtrackerweb.com</a>
  </div>
</footer>