<div class="container">
<div class="row justify-content-center mx-3">
    <div class="col-12 col-sm-10 col-md-8 col-l-6">
  <div class="card bg-dark text-light" style="">
    <img src="../img/about-adrian.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Adrián P. Conde</h5>
      <p class="card-text my-4">I worked as a journalist for the last four years, specialized in political and economic information, but now it's time for the biggest change in my life. I'm graduated in Journalism and Audiovisual Communication an for the last months I've been attending Ironhack's Web Development Bootcamp. <br> 
      A good friend recommended me to try my luck in the web development sector and I couldn't be more satisfied to have listened to him and learned so much in such a short time.
      </p>
      <div class="d-flex justify-content-center gap-3">
        <a target="_blank" href="https://www.linkedin.com/in/adrianpconde/" class="btn btn-primary">Linkedin</a>
        <a target="_blank" href="https://github.com/adrianpconde" class="btn btn-primary">Github</a>
      </div>

        <hr>
        <h5><b>Other projects:</b></h5> 
        <hr>
        <h5 class="card-title" style="text-align: center;">Dino Jump!</h5>
      <p class="card-text my-4">Ironhack's first module final project. <br>
      Video game made with HTML5 canvas, CSS and JavaScript. <br>
      This video game is a platform style, with slight elements of the action genre, starred by a little blue dinosaur. This online game is part of the first project developed by me within the Part Time Web Development Bootcamp by Ironhack. 

      </p>
        <a target="_blank" href="https://github.com/adrianpconde/DinoJump" class="btn btn-primary d-flex justify-content-center">Dino Jump!</a>
    </div>
  </div>
  </div>
</div>
</div>