<div class="container">
<div class="row justify-content-center mx-3">
    <div class="col-6">
  <div class="card {{!-- col-12 --}}" style="">
    <img src="../img/WhatsApp Image 2022-08-08 at 4.15.04 PM.jpeg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Iván Rodríguez</h5>
      <p class="card-text my-4">I was work like mechanic by 15 years, last 4 on electric vehicle development, being part of developers team. <br>
        On that work I has my first contact with programming and I star of being interested on this world. <br>
        Later a workmate does the Ironhack BootCamp and talk me a lot of about the experience, and this was the last push to me, 
        to do the BootCamp this year. <br>
        And I'm very happy with this decission. 
      </p>
      <div class="d-flex justify-content-center gap-3">
        <a target="_blank" href="https://www.linkedin.com/in/ivanwebdev/" class="btn btn-primary">Linkedin</a>
        <a target="_blank" href="https://github.com/areantbd" class="btn btn-primary">Github</a>
      </div>

        <hr>
        <h5>Another projects:</h5> 
        <hr>
        <h5 class="card-title" style="text-align: center;">Scuba Diver</h5>
      <p class="card-text my-4">Ironhac's first module final proyect. <br>
      Videogame made with  
      </p>
        <a target="_blank" href="https://areantbd.github.io/Scuba-Diver/" class="btn btn-primary">Scuba Diver</a>
        <a target="_blank" href="https://areantbd.github.io/OTFN-Online-Tools-For-Noobs/" class="btn btn-primary">OTFN</a>
    </div>
  </div>
  </div>
</div>
</div>