<div class="container">
    <div class="row text-center text-light">
        <h1 class="mb-4"><u>About TV-Tracker Team</u></h1>
        <br>
        <p>TV-Tracker is the second project of two Web Development students at Ironhack. <br> 
        We are Adrián Pérez and Iván Rodíguez, two 'series lovers' who decided to create a space in which to keep a detailed track of each episode watched of their favorite series. <br>
        Know more about us below: </p>
    </div>
    <div class="container">
        <div class="row justify-content-center my-5">
            <a class="text-light text-center btn btn-primary" href="/about/adrian">Adrián</a>
        </div>
        <div class="row justify-content-center my-5">
            <a class="text-light text-center btn btn-primary" href="/about/ivan">Iván</a>
        </div>
    </div>
</div>